@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");
* {
  box-sizing: border-box;
}
body {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  background-color: #1d1d1d;
  color: #ccc;
  background-image: radial-gradient(#282828 0.1rem, transparent 0.15rem);
  background-size: 4rem 4rem;
}
em {
  font-style: italic;
}
h1,
h2,
h3 {
  font-weight: 700;
  color: hsl(210, 70%, 60%);
}
.header_bg {
  position: relative;
  width: 100%;
  background-color: #69264a;
  background-image: url("./assets/header.gif");
  background-size: cover;
  background-position: center;
}
.header_bg::before {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  content: "";
  backdrop-filter: blur(4px);
}
h1 {
  margin: 0;
  padding: 0;
  padding-bottom: 25%;
  background-image: url("./assets/slc_blender_user_group_logo.png");
  background-size: contain;
  position: relative;
}
h1 span {
  position: absolute;
  visibility: hidden;
}
.container {
  margin: auto;
  max-width: 960px;
}
.content {
  padding: 0 32px 32px 32px;
}
a,
a:link,
a:visited {
  color: #e87d0d;
}
img {
  max-width: 100%;
  display: block;
}

.navBar {
  display: flex;
  background-color: #181818;
}

.navDecoration {
  float: left;
}
.navDecorationLeft {
}
.navDecorationRight {
  float: right;
}
.navBarPageSelectors {
}
.navBarList {
  display: flex;
  margin: 0;
  justify-self: center;
}
li.navBarTab {
  background-color: #232323;
  list-style-type: none;
  padding: 5px 10px 0;
  margin: 5px 3px 0;
  border-radius: 15px 15px 0 0;
}

.navBarList li:hover {
  background-color: purple;
}
.navBarTab a {
  color: #969696;
  font-size: 1.5em;
}
li.navBarTab.navBarCurrentPage {
  background-color: #303030;
}
.navBarTab.navBarCurrentPage a {
  color: #f2f2f2;
}
